@import url("https://use.typekit.net/blu7vsd.css");

body {
  margin: 0;
  background-color: rgba(255, 163, 138, 0.5);
}


h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  letter-spacing: -.01em;
  line-height: 1.6em;
  text-align: center;
  color: #A19B4E;
  margin-bottom: 0px;

}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -.01em;
  line-height: 1.3em;
  text-align: center;
  color: #222;
  margin-bottom: 0px;
}

h3 {
  font-family: adobe-garamond-pro, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -.01em;
  line-height: 1.3em;
  text-align: center;
  color: #222;
  margin: 15px 0px 0px 0px;

}

h4 {
  font-family: adobe-garamond-pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -.01em;
  line-height: 1.3em;
  text-align: center;
  color: #333;
  margin: auto;

}

h5 {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -.01em;
  line-height: 1.3em;
  text-align: center;
  color: #222;
  margin-bottom: 0px;

}

p {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -.01em;
  line-height: 1.5em;
  text-align: center;
  color: #222;
  margin: 15px 0px 0px 0px;
}

a {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -.01em;
  line-height: 1.5em;
  text-align: center;
  color: #3ed0d0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


ul {
list-style-type: none;
margin: auto;
padding: 0px 0px;
}

li {
float: left;
}

li a {
display: block;
font-family: "Comic Sans MS", cursive, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
text-decoration: none;
color: #FF00E4;
padding: 0px 20px;
}

li a:hover {
text-decoration: underline;
}

.topnav {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: .05em;
  color: #222;
  padding: 30px 0px 0px 50px;
}


.index {
  justify-content: center;
  display: flex;
  margin-top: 100px;
}


.wrap {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 0% 10%;
  margin: 0;
}


.london{
  background-image: url("../images/london.png");
  background-size: cover;
  width: 230px;
  height: 320px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.mug{
  background-image: url("../images/mug.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
  right: 0;
}

.cph{
  background-image: url("../images/cph.png");
  background-size: cover;
  width: 230px;
  height: 350px;
  position: fixed;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 400px) {
  .london{
    background-image: url("../images/london.png");
    background-size: cover;
    width: 120px;
    height: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .mug{
    background-image: url("../images/mug.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
  }

  .cph{
    background-image: url("../images/cph.png");
    background-size: cover;
    width: 120px;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    padding: 20% 5% 0% 5%;
    margin: 0;
  }

  h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: -.01em;
    line-height: 1.3em;
    text-align: center;
    color: #A19B4E;
    margin-bottom: 0px;

  }

  li a {
  display: block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #FF00E4;
  padding: 0px 20px;
  }

  li a:hover {
  text-decoration: underline;
  }

  .index {
    justify-content: center;
    display: flex;
    margin-top: 60px;
  }

  .topnav {
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .05em;
    color: #222;
    padding: 30px 0px 0px 10px;
  }

}
